* {border: 0px Solid red}

body {
  height: 100vh;
  margin: 0%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#header {
  display: flex;
  grid-column: 3 /span 10;
}

#main-container {
  grid-column: span 10;
  grid-row: span 9;
  overflow:auto;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  
}

#addbtn {
  grid-column: 8;
  grid-row: 8;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

#booklist {
  grid-column: 3/9;
  min-height: fit-content;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.bookCards {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 150px;
  min-width: 150px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  border: 0.5px solidrgb(109, 109, 109)k;
}

form {
  grid-column: 4/8;
  grid-row: span 4;
  background-color: aliceblue;
}