* {border: 1px Solid red}

body {
  height: 100vh;
  margin: 0%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#header {
  grid-column: span 10;
  grid-row: span 1;
}

#main-container {
  grid-column: span 10;
  grid-row: span 9;
  overflow:auto;
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#addbtn {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

#booklist {
  grid-column: span 8;
  min-height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.bookCards {
  background-color: aquamarine;
  height: 150px;
  border-radius: 30px;
}

form {
  grid-column: 4/8;
  grid-row: span 4;
  background-color: aliceblue;
}