* {border: 0px Solid red}

body {
  height: 100vh;
  margin: 0%;
  display: grid;
  grid-template-columns: repeat(10, minmax(130px, 1fr));
  grid-template-rows: repeat(10, 1fr);
  font-family: "PT Sans", sans-serif;
  background-color: rgb(15, 165, 252, 0.5)
}

#header {
  display: flex;
  align-items: center;
  grid-column: 3 /span 6;
}

#appleIcon {
  height: 50px;
  margin-bottom: 10px;
}

#bookstats {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
}

#main-container {
  grid-column: span 10;
  grid-row: span 9;
  overflow:auto;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#addbtn {
  grid-column: 8;
  grid-row: 8;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bolder;
}

#addbtn:hover, #closebtn:hover, #addbook:hover, .deleteDiv:hover {
  cursor:pointer;
  transform: scale(1.05);
}

#addbtn:hover {
  background-color: rgba(66, 245, 87, 0.5);
}

#booklist {
  grid-column: 3/9;
  min-height: fit-content;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.bookCards {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:flex-start;
  height: 150px;
  min-width: 150px;
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border: 0.5px rgb(109, 109, 109);
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}

.bookCards div {
  margin-left: 15px;
}

#formcontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#formcontainer input {
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  background-color: antiquewhite;
}

#closebtn {
  height: 20px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.5);
}

#close  {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#addbook {
  padding: 10px;
  border-radius: 10px;
  margin-top: 3%;
  background-color: rgba(66, 245, 87, 0.5);
}

.deleteDiv {
  position: absolute;
  left: 75%;
  bottom: 5%;
 
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input {
  outline-style: none;
}

form {
  display: flex;
  gap: 20px;
}

dialog {
  background-color: rgba(46, 138, 34, 0.705);
}

#github {
  height: 60px;
}

.stars i {
  color: #d8d8d8;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.4s ease;
}
.stars i.active {
  color: #ff9c1a;
}



